.form-checkbox {
  position: relative;

  &__confirm {
    margin-left: 52px;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    apperance: none;

    &__confirm:checked + &--icon {
      visibility: visible;
    }
  }

  &--icon {
    height: 16px;
    width: 16px;
    position: absolute;
    left: 52px;
    top: 1px;
    fill: #ffffff;
    background-color: #2196f3;
    border-radius: 2px;
    visibility: hidden;
  }

  &__text {
    font-size: 0.87rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 5px;

    .form-checkbox__text a {
      color: #2196f3;
    }
  }
}
